p.label{
    width: 120px;
    float: left;
}
.star{
    color: red;
}
label.error{
    float: none;
    color: red;
    padding-left: 20px;
}
select{
    width: 150px;
    float: left;
}
#btnsub{
    background-color: blue;
    color: white;
}

